doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet" href="css/styles.css")
        link(rel="shortcut icon" type='imgage/png'  href="img/favicon.png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap")
        title ProjectDetailsApp | #{title}
        

    body
        main.main
            .cards_container
                each project in projects
                    .card
                        .details
                            h1= project.projectName
                            h4
                                span.label= 'Project Source: '
                                span= project.projectSource
                            h4
                                span.label= 'Client Name: '
                                span= project.clientName
                            - const startDate = project.startDate.toLocaleString('en-us', { day: 'numeric', month: 'long', year: 'numeric'})
                            h4
                                span.label= 'Start Date: '
                                span= startDate
                            - const dueDate = project.dueDate.toLocaleString('en-us', { day: 'numeric', month: 'long', year: 'numeric'})
                            h4
                                span.label= 'Due Date: '
                                span= dueDate

                        .technical_details
                            p
                                span.label= 'Developers: '
                                span.data= project.developers
                            p
                                span.label= 'Project Manager'
                                span.data= project.projectManager
                            p
                                span.label= 'Platform: '
                                span.data= project.platform
                            p
                                span.label= 'Theme: '
                                span.data= project.theme
                            p
                                span.label= 'Plugin: '
                                span.data= project.plugins
                            p
                                span.label= 'Project Status: '
                                span.data= project.status
